@model ResultModel
@{
    Layout = "_PrintLayout";
    ViewData["Title"] = "Resultat af afstemning";
}
<style type="text/css">
    .tbl { width: 800px; }
    .td1 { width: 140px; }
    .td2 { width: 100px; }
    .td3 { width: 100px; }
    .td4 { width: 100px; text-align: right; }
    .td5 { width: 100px; text-align: right; }
    .errorText { padding: 8px 0 4px 24px; }
    hr { margin-top: 6px; margin-bottom: 6px; }
</style>

<h3>@ViewData["Message"]</h3>

<table border="0" class="tbl">
    <tr>
        <td colspan="5">
            <h4>@Model.ReconsiledItemsPresentation&nbsp;fakturaer betalt korrekt</h4>
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <hr />
        </td>
    </tr>
    <tr>
        <td colspan="5">
            <h4>Ingen eller ufuldstændige betalinger fundet for nedenstående fakturaer (@Model.NotPayedInvoices.Count&nbsp;stk.):</h4>
        </td>
    </tr>
    @foreach (var invoice in Model.NotPayedInvoices)
    {
    <tr>
        <td class="td1">
            Fakturadato:&nbsp;@invoice.InvoiceDate.Value.ToShortDateString()
        </td>
        <td class="td2">
            Fakturanummer:&nbsp;@invoice.Id
        </td>
        <td class="td3">
            Ordrenummer:&nbsp;@invoice.OrderId
        </td>
        <td class="td4">
            Totalpris:
        </td>
        <td class="td5">
            @invoice.TotalPrice.Value.ToString("N2")
        </td>
    </tr>
        @if (string.IsNullOrEmpty(@invoice.ErrorText) == false)
        {
            <tr>
                <td colspan="4" class="errorText">
                    @Html.Raw(@invoice.ErrorText)
                </td>
            </tr>
            <tr>
                <td colspan="5">
                    <hr />
                </td>
            </tr>
        }
        else
        {
            <tr>
                <td colspan="5">
                    <hr />
                </td>
            </tr>
        }
    }
</table>
